<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>

  <body>
    <h1>Users</h1>
    <div class="container">
      <form action="/users" method="post">
        <input type="text" placeholder="Name" name="name" />
        <input type="text" placeholder="Email" name="email" />
        <input type="text" placeholder="Password" name="password" />
        <input
          type="text"
          placeholder="Confrim Password"
          name="confrimPassword"
        />
        <button>Register</button>
      </form>
      <a class="link" href="/users/login">Login</a>
      <ul id="list">
        <%users.forEach(({name, id})=> { %>
        <li>
          <%=name %>
          <a href="/users/change/<%= id %>">Change</a>
          <button class="btn__delete" data-id="<%=id %>">Delete</button>
        </li>

        <% }) %>
      </ul>
    </div>
    <script defer src="./js/script.js"></script>
  </body>
</html>
